#button .btn {
    /* here's the css for the button with the position + transition + the cursor and the colors */
    display: flex;
    text-align: center;
    transition: all .2s ease-in-out;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgb(19, 97, 161);
    border-radius: 10px;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px pink, 0 0 15px black, 0 0 20px purple;
    }

    to {
        text-shadow: 0 0 10px black, 0 0 15px pink, 0 0 20px #fff, 0 0 25px purple;
    }
}

.btn:hover {
    /* this's what makes the button a lil bit bigger when you hover over it */
    transform: scale(1.1);
}
