<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/video.css">
</head>

<body>
    <div class="container">
    <!-- here's all the main stuff like the header the go back button and the navbar  -->
    <div id="main">
        <h1 class="head">Components</h1>
    </div>
    <main class="nav-container">
    <nav id="navbar">
        <li><a href="../index.html">Main Page</a></li>
        <li><a href="./HelloWorld.html">Title</a></li>
        <li><a href="./Button.html">Button & Alert</a></li>
        <li><a href="./Checkbox.html">Checkbox</a></li>
        <li><a class="active" href="./Video.html">Video (2Pac)</a></li>
        <li><a href="">Coming soon...</a></li>
        <li><a href="">Coming soon...</a></li>
        <li><a href="">Coming soon...</a></li>
    </nav>


    <video class="video" controls>
        <source src="../video/2Pac - Dear Mama.mp4" type="video/mp4">
    </video>
</main>
</div>
</body>

</html>